.title{
    background: url(../../../public/assets/All-Images/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    margin-top: -100px;
}
.title h1{
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #1A1919;
}

.job-details{
    border: 1px solid #E8E8E8;
    border-radius: 8px;
}
.btn-viewDetails{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 20px 10px;
    transition: all 0.3s ease-in-out;
}
.btn-clash{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 20px 10px;
    transition: all 0.3s ease-in-out;
}