.footer-part h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;   
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-part p{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    padding-right: 60px;
}
.footer-part ul{
    padding: 0;
}
.footer-part ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.7);  
}
.copyRight{
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 320px) and (max-width: 576px){
    .footer-part{
       text-align: center;  
    }
    .footer-part p{
        padding-right: 0;
    }
}